.searchQueryInput {
  border-radius: 6px;
  border: none;
  font-size: 1.2em;
  padding: 0.5rem;
  width: 100%;
  height: 50px;
  background: var(--search-input-background-color);
  margin-bottom: 1rem;
}

.searchResultItem {
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(223, 227, 232);
}

.searchResultItem > h2 {
  margin-bottom: 0;
}

.searchResultItemPath {
  color: var(--ifm-color-content-secondary);
  font-size: 0.8rem;
  margin: 0.5rem 0px 0px;
}

.searchResultItemSummary {
  font-style: italic;
  margin: 0.5rem 0px 0px;
}

mark {
  color: rgb(0, 0, 0);
  background-color: #e2e82c;
}
