.toggle {
  width: 2rem;
  height: 2rem;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.toggleButtonDisabled {
  cursor: not-allowed;
}

[data-theme='light'] .darkToggleIcon {
  display: none;
}
[data-theme='light'] .toggleButton:hover {
  background: var(--virtalis-color-light-blue);
}

[data-theme='dark'] .lightToggleIcon {
  display: none;
}
[data-theme='dark'] .toggleButton:hover {
  background: var(--virtalis-color-blue);
}
