:root {
  --search-local-icon-stroke-width: 2;
  --search-local-searchbox-shadow: inset 0 0 0 2px var(--virtalis-color-orange);
  --search-local-key-color: rgb(58, 60, 72);
  --ifm-navbar-search-input-color: var(--ifm-color-gray-200);
}

html[data-theme="dark"] {
  --search-local-key-color: rgb(40, 42, 54);
  --ifm-navbar-search-input-color: var(--ifm-color-gray-200);
}

.DocSearch-Button {
  align-items: center;
  background: var(--ifm-navbar-search-input-background-color);
  border: 0;
  border-radius: 40px;
  color: var(--ifm-navbar-search-input-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 10px 0 12px;
  user-select: none;
}

.DocSearch-Button:hover,
.DocSearch-Button:active,
.DocSearch-Button:focus {
  box-shadow: var(--search-local-searchbox-shadow);
  outline: none;
}

.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Search-Icon {
  stroke-width: 2;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--ifm-color-gray-200);
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 2px 8px 0 6px;
}

.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(2 * 20px + 2 * 0.4em);
  margin-right: 2px;
}

.DocSearch-Button-Key {
  align-items: center;
  background-color: var(--search-local-key-color);
  border-radius: 4px;
  color: var(--ifm-color-secondary-darkest);
  display: flex;
  height: 18px;
  font-size: 90%;
  font-weight: 550;
  justify-content: center;
  margin-right: 0.2em;
  position: relative;
  padding: 0px 4px;
}

@media (max-width: 750px) {
  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }
  .DocSearch-Button {
    padding: 0 8px;
  }
}
