:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-gray-800);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  --docsearch-modal-shadow: none;
  --docsearch-searchbox-background: var(--virtalis-color-dark-blue);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--virtalis-color-orange);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  --docsearch-hit-shadow: none;
  --docsearch-icon-stroke-width: 2;
  --docsearch-key-gradient: var(--ifm-color-emphasis-500);
  --docsearch-key-shadow: none;
  --docsearch-key-pressed-shadow: none;
  --docsearch-footer-background: rgb(229, 230, 233);
  --docsearch-footer-shadow: none;
}

[data-theme='dark'] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-gray-400);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-modal-shadow: none;
  --docsearch-searchbox-background: var(--virtalis-color-darker-blue);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-black);
  --docsearch-hit-shadow: none;
  --docsearch-key-gradient: var(--ifm-color-emphasis-200);
  --docsearch-key-shadow: none;
  --docsearch-key-pressed-shadow: none;
  --docsearch-footer-background: rgb(39, 39, 41);
  --docsearch-footer-shadow: none;
}

.DocSearch-Button {
  color: var(--ifm-color-gray-500);
  margin: 0;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--ifm-color-white);
  stroke-width: 2;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  color: var(--ifm-color-white);
  background: var(--virtalis-color-dark-blue);
}

[data-theme='dark'] .DocSearch-Button:active,
[data-theme='dark'] .DocSearch-Button:focus,
[data-theme='dark'] .DocSearch-Button:hover {
  color: var(--ifm-color-white);
  background: var(--virtalis-color-darker-blue);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.DocSearch-Form {
  box-shadow: inset 0 0 0 2px var(--ifm-color-primary);
}

.DocSearch-Reset {
  border-radius: 50%;
  padding: 3px 3px 2px 3px;
}

.DocSearch-Reset:focus,
.DocSearch-Reset:hover {
  background: var(--docsearch-footer-background);
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset,
.DocSearch-Reset:hover {
  color: var(--ifm-color-black);
}

[data-theme='dark'] .DocSearch-MagnifierLabel,
[data-theme='dark'] .DocSearch-Reset,
[data-theme='dark'] .DocSearch-Reset:hover {
  color: var(--ifm-color-white);
}

.DocSearch-Help,
.DocSearch-Label {
  color: var(--docsearch-muted-color);
}

.DocSearch-Logo .cls-1,
.DocSearch-Logo .cls-2 {
  fill: var(--docsearch-muted-color);
}

.DocSearch-Hit-source {
  color: var(--ifm-color-primary);
}

.DocSearch-Hit[aria-selected=true] a {
  background-color: var(--virtalis-color-blue);
}

[data-theme='dark'] .DocSearch-Hit[aria-selected=true] a {
  background-color: var(--virtalis-color-dark-blue);
}

.DocSearch-HitsFooter a {
  color: var(--ifm-color-primary);
  border: none;
}

.DocSearch-HitsFooter a:hover {
  text-decoration: underline;
}
