:root {
  --search-local-result-height: 65px;
  --search-modal-background-color: rgb(255, 255, 255);
  --search-input-background-color: rgb(242, 242, 242);

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
  }
}

html[data-theme="dark"] {
  --search-modal-background-color: rgb(36, 37, 38);
  --search-input-background-color: rgb(23, 23, 25);
  /* --search-modal-background-color: rgb(35, 38, 47);
  --search-input-background-color: rgb(23, 24, 28); */

  input[type="search"]::-webkit-search-cancel-button {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  }
}

.searchModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(80, 80, 85, 0.7);
  backdrop-filter: blur(1px);
  z-index: 100000;
}

.searchModalContainer {
  background: var(--search-modal-background-color);
  position: relative;
  flex-direction: column;
  margin: 60px auto auto;
  border-radius: 8px;
  width: 40%;
  min-width: 400px;
  min-height: 200px;
  padding: 1px;
}

.searchInputContainer {
  display: flex;
  margin: 12px;
  height: 50px;
  align-items: center;
  box-shadow: var(--search-local-searchbox-shadow);
  border-radius: 6px;
  background-color: var(--search-input-background-color);
}

.searchInputContainer label {
  margin-left: 10px;
  margin-right: 2px;
  display: flex;
}

.searchInputContainer label > svg {
  stroke-width: 2;
}

.searchInputContainer > span {
  width: 100%;
}

.searchInput {
  padding: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--ifm-font-color-base);
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: transparent;
}

.messageContainer {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
}

.noDocsFoundMessage {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.searchResultsContainer {
  overflow-y: scroll;
  max-height: 400px;
  padding: 0px 12px 12px 12px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .searchResultsContainer {
    overflow-y: overlay;
  }
}

.searchResultsContainer::-webkit-scrollbar {
  width: 6px;
}

.searchResultsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.searchResultsContainer::-webkit-scrollbar-thumb {
  background-color: var(--ifm-color-secondary-darkest);
  border-radius: 20px;
}

.searchResultsContainerFooter {
  color: var(--ifm-color-secondary-darkest);
  display: flex;
  font-size: 0.85em;
  justify-content: center;
  padding: var(--ifm-global-spacing);
}

.searchResultsContainerFooter a {
  color: var(--ifm-color-primary);
}

.loadingContainer {
  width: 100%;
  display: flex;
  place-content: center;
  margin-top: 25px;
}

.loadingContainer div {
  width: 50px;
  height: 50px;
}

.searchResultsSection {
  max-height: 400px;
  padding-bottom: 4px;
}

.searchResultsSection:last-of-type {
  margin-bottom: 24px;
}

.searchResultsSectionHeader {
  background: var(--search-modal-background-color);
  font-size: 0.85em;
  font-weight: 600;
  line-height: 32px;
  margin: 0 -4px;
  padding: 4px 4px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.searchResult {
  cursor: pointer;
  background: rgb(242, 242, 242);
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 0 var(--ifm-global-spacing);
  width: 100%;
  align-items: center;
  color: var(--ifm-color-gray-600);
  display: flex;
  flex-direction: row;
  height: var(--search-local-result-height, 65px);
}

html[data-theme="dark"] .searchResult {
  background: rgb(47, 48, 49);
  color: var(--ifm-color-gray-400);
}

.cursor {
  background-color: rgb(229, 229, 229) !important;
}

html[data-theme="dark"] .cursor {
  background-color: rgb(58, 59, 60) !important;
}

.cursor > span {
  color: var(--ifm-color-black);
}

html[data-theme="dark"] .cursor > span {
  color: var(--ifm-color-white);
} 

.cursor > .hitWrapper mark {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

.hitTree,
.hitIcon,
.hitPath {
  color: var(--ifm-color-gray-600);
}

html[data-theme="dark"] .hitTree,
html[data-theme="dark"] .hitIcon,
html[data-theme="dark"] .hitPath {
  color: var(--ifm-color-gray-400);
}

.hitTree {
  display: flex;
  align-items: center;
}

.hitTree > svg {
  height: var(--search-local-result-height, 56px);
  opacity: 0.5;
  stroke-width: 2px;
  width: 24px;
}

.hitIcon {
  stroke-width: 2px;
  height: 20px;
  width: 20px;
}

.hitWrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  margin: 0 8px;
  overflow-x: hidden;
  width: 80%;
}

.hitWrapper mark {
  background: none;
  color: var(--ifm-color-primary);
}

.hitTitle {
  font-size: 0.8em;
}

.hitPath {
  font-size: 0.75em;
}

.hitPath,
.hitTitle {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.hitAction {
  stroke-width: 2px;
  height: 20px;
  width: 20px;
}

.urlPath {
  font-size: 8px;
  color: var(--ifm-color-gray-500);
}

html[data-theme="dark"] .urlPath {
  color: var(--ifm-color-gray-500);
}
