:root {
  --ifm-color-secondary: rgb(235, 237, 240);
  --ifm-color-secondary-dark: rgb(212, 213, 216);
  --ifm-color-secondary-darker: rgb(200, 201, 204);
  --ifm-color-secondary-darkest: rgb(164, 166, 168);
  --ifm-color-secondary-light: rgb(238, 240, 242);
  --ifm-color-secondary-lighter: rgb(241, 242, 245);
  --ifm-color-secondary-lightest: rgb(245, 246, 248);
  --ifm-color-secondary-contrast-background: rgb(253, 253, 254);
  --ifm-color-secondary-contrast-foreground: rgb(71, 71, 72);

  --ifm-color-success: rgb(0, 164, 0);
  --ifm-color-success-dark: rgb(0, 148, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgb(77, 191, 77);
  --ifm-color-success-lightest: rgb(128, 210, 128);
  --ifm-color-success-contrast-background: rgb(0, 49, 0);
  --ifm-color-success-contrast-foreground: rgb(230, 246, 230);

  --ifm-color-info: rgb(84, 199, 236);
  --ifm-color-info-dark: rgb(76, 179, 212);
  --ifm-color-info-darker: rgb(71, 169, 201);
  --ifm-color-info-darkest: rgb(59, 139, 165);
  --ifm-color-info-light: rgb(110, 207, 239);
  --ifm-color-info-lighter: rgb(135, 216, 242);
  --ifm-color-info-lightest: rgb(170, 227, 246);
  --ifm-color-info-contrast-background: rgb(238, 249, 253);
  --ifm-color-info-contrast-foreground: rgb(25, 60, 71);

  --ifm-color-warning: rgb(255, 186, 0);
  --ifm-color-warning-dark: rgb(230, 167, 0);
  --ifm-color-warning-darker: rgb(217, 158, 0);
  --ifm-color-warning-darkest: rgb(179, 130, 0);
  --ifm-color-warning-light: rgb(255, 196, 38);
  --ifm-color-warning-lighter: rgb(255, 207, 77);
  --ifm-color-warning-lightest: rgb(255, 221, 128);
  --ifm-color-warning-contrast-background: rgb(255, 248, 230);
  --ifm-color-warning-contrast-foreground: rgb(77, 56, 0);

  --ifm-color-danger: rgb(250, 56, 62);
  --ifm-color-danger-dark: rgb(225, 50, 56);
  --ifm-color-danger-darker: rgb(213, 48, 53);
  --ifm-color-danger-darkest: rgb(175, 39, 43);
  --ifm-color-danger-light: rgb(251, 86, 91);
  --ifm-color-danger-lighter: rgb(251, 116, 120);
  --ifm-color-danger-lightest: rgb(253, 156, 159);
  --ifm-color-danger-contrast-background: rgb(255, 235, 236);
  --ifm-color-danger-contrast-foreground: rgb(75, 17, 19);
}

[data-theme='dark'] {
  --ifm-color-secondary-contrast-background: rgb(253, 253, 254);
  --ifm-color-secondary-contrast-foreground: rgb(71, 71, 72);
  --ifm-color-success-contrast-background: rgb(0, 49, 0);
  --ifm-color-success-contrast-foreground: rgb(230, 246, 230);
  --ifm-color-info-contrast-background: rgb(238, 249, 253);
  --ifm-color-info-contrast-foreground: rgb(25, 60, 71);
  --ifm-color-warning-contrast-background: rgb(255, 248, 230);
  --ifm-color-warning-contrast-foreground: rgb(77, 56, 0);
  --ifm-color-danger-contrast-background: rgb(255, 235, 236);
  --ifm-color-danger-contrast-foreground: rgb(75, 17, 19);
}

[data-theme='light'] {
  --note-background: rgb(232, 229, 253);
  --note-highlight: rgb(240, 238, 255);
  --note-foreground: rgb(33, 29, 62);
  --note-border: rgb(74, 67, 178);

  --tip-background: rgb(223, 255, 223);
  --tip-highlight: rgb(231, 252, 231);
  --tip-foreground: rgb(4, 47, 4);
  --tip-border: rgb(1, 139, 1);

  --info-background: rgb(224, 247, 255);
  --info-highlight: rgb(232, 249, 255);
  --info-foreground: rgb(22, 48, 56);
  --info-border: rgb(61, 139, 165);

  --warning-background: rgb(255, 242, 211);
  --warning-highlight: rgb(253, 243, 219);
  --warning-foreground: rgb(55, 41, 11);
  --warning-border: rgb(173, 127, 36);

  --danger-background: rgb(255, 222, 224);
  --danger-highlight: rgb(254, 228, 230);
  --danger-foreground: rgb(54, 19, 21);
  --danger-border: rgb(177, 40, 44);
}

[data-theme='dark'] {
  --note-background: rgb(33, 29, 62);
  --note-highlight: rgb(46, 42, 95);
  --note-foreground: rgb(232, 229, 253);
  --note-border: rgb(74, 67, 178);

  --tip-background: rgb(4, 47, 4);
  --tip-highlight: rgb(0, 68, 0);
  --tip-foreground: rgb(223, 255, 223);
  --tip-border: rgb(1, 139, 1);

  --info-background: rgb(22, 48, 56);
  --info-highlight: rgb(31, 69, 82);
  --info-foreground: rgb(224, 247, 255);
  --info-border: rgb(61, 139, 165);

  --warning-background: rgb(55, 41, 11);
  --warning-highlight: rgb(80, 57, 15);
  --warning-foreground: rgb(255, 242, 211);
  --warning-border: rgb(173, 127, 36);

  --danger-background: rgb(54, 19, 21);
  --danger-highlight: rgb(87, 22, 25);
  --danger-foreground: rgb(255, 222, 224);
  --danger-border: rgb(177, 40, 44);
}

.alert {
  border-radius: 0px;
}

.alert a:active, 
.alert a:focus, 
.alert a:hover {
  text-decoration: underline;
}

.alert--secondary {
  --ifm-alert-background-color: var(--note-background);
  --ifm-alert-background-color-highlight: var(--note-highlight);
  --ifm-alert-foreground-color: var(--note-foreground);
  --ifm-alert-border-color: var(--note-border);
}

.alert--success {
  --ifm-alert-background-color: var(--tip-background);
  --ifm-alert-background-color-highlight: var(--tip-highlight);
  --ifm-alert-foreground-color: var(--tip-foreground);
  --ifm-alert-border-color: var(--tip-border);
}

.alert--info {
  --ifm-alert-background-color: var(--info-background);
  --ifm-alert-background-color-highlight: var(--info-highlight);
  --ifm-alert-foreground-color: var(--info-foreground);
  --ifm-alert-border-color: var(--info-border);
}

.alert--warning {
  --ifm-alert-background-color: var(--warning-background);
  --ifm-alert-background-color-highlight: var(--warning-highlight);
  --ifm-alert-foreground-color: var(--warning-foreground);
  --ifm-alert-border-color: var(--warning-border);
}

.alert--danger {
  --ifm-alert-background-color: var(--danger-background);
  --ifm-alert-background-color-highlight: var(--danger-highlight);
  --ifm-alert-foreground-color: var(--danger-foreground);
  --ifm-alert-border-color: var(--danger-border);
}
