:root {
  --virtalis-color-blue: rgba(20, 15, 120, 0.9);
  --virtalis-color-blue-highlight: rgb(44, 33, 193);
  --virtalis-color-light-blue: rgb(40, 30, 180);
  --virtalis-color-lighter-blue: rgb(48, 36, 229);
  --virtalis-color-dark-blue: rgb(20, 15, 85, 0.9);
  --virtalis-color-dark-blue-highlight: rgba(25, 18, 143, 0.9);
  --virtalis-color-darker-blue: rgb(12, 8, 58);
  --virtalis-color-darkest-blue: rgb(7, 5, 33);
  --virtalis-color-orange: rgb(232, 169, 44);

  --ifm-color-primary: rgb(230, 114, 5);
  --ifm-color-primary-dark: rgb(207, 103, 5);
  --ifm-color-primary-darker: rgb(195, 97, 4);
  --ifm-color-primary-darkest: rgb(161, 80, 4);
  --ifm-color-primary-light: rgb(250, 126, 9);
  --ifm-color-primary-lighter: rgb(250, 132, 20);
  --ifm-color-primary-lightest: rgb(251, 150, 55);

  --ifm-color-gray-100: rgb(245, 245, 245);
  --ifm-color-gray-150: rgb(235, 235, 235);
  --ifm-color-gray-200: rgb(225, 225, 225);
  --ifm-color-gray-300: rgb(200, 200, 200);
  --ifm-color-gray-350: rgb(190, 190, 190);
  --ifm-color-gray-400: rgb(180, 180, 180);
  --ifm-color-gray-450: rgb(165, 165, 165);
  --ifm-color-gray-500: rgb(150, 150, 150);
  --ifm-color-gray-550: rgb(135, 135, 135);
  --ifm-color-gray-600: rgb(120, 120, 120);
  --ifm-color-gray-650: rgb(105, 105, 105);
  --ifm-color-gray-700: rgb(90, 90, 90);
  --ifm-color-gray-750: rgb(75, 75, 75);
  --ifm-color-gray-800: rgb(60, 60, 60);
  --ifm-color-gray-850: rgb(45, 45, 45);
  --ifm-color-gray-900: rgb(30, 30, 30);
  --ifm-color-gray-950: rgb(15, 15, 15);

  /* --ifm-color-secondary: rgb(68, 73, 86);
  --ifm-color-secondary-dark: rgb(61, 66, 77);
  --ifm-color-secondary-darker: rgb(58, 62, 73);
  --ifm-color-secondary-darkest: rgb(48, 51, 60);
  --ifm-color-secondary-light: rgb(75, 80, 95);
  --ifm-color-secondary-lighter: rgb(78, 84, 99);
  --ifm-color-secondary-lightest: rgb(88, 95, 112);
  --ifm-color-content-secondary: rgb(68, 73, 86); */

  --ifm-toc-link-color: var(--ifm-color-gray-700);
  --ifm-toc-padding-vertical: 0rem;
  /* --ifm-toc-padding-horizontal: 1rem; */

  --ifm-tabs-color: var(--ifm-font-color-secondary);
  --ifm-tabs-color-active: var(--ifm-color-primary);
  --ifm-tabs-color-active-border: var(--ifm-tabs-color-active);
  --ifm-tabs-padding-horizontal: 1rem;
  --ifm-tabs-padding-vertical: 0.5rem;

  /* --ifm-font-family-base: Roboto, system-ui, -apple-system, Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-monospace: Roboto Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */

  --ifm-background-color: var(--ifm-color-white);
  --ifm-color-primary-contrast-background: var(--ifm-color-gray-900);
  --ifm-font-color-base: var(--ifm-color-gray-800);
  --ifm-font-size-base: 17px;
  --ifm-line-height-base: 1.5rem;
  --ifm-heading-color: var(--ifm-color-black);
  --ifm-heading-font-weight: 500;
  --ifm-code-font-size: 90%;
  --ifm-transition-fast: 0s;
  --ifm-transition-slow: 0s;
  --ifm-transition-timing-default: 0s;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
  --ifm-color-primary: rgb(232, 169, 44);
  --ifm-color-primary-dark: rgb(224, 157, 24);
  --ifm-color-primary-darker: rgb(212, 148, 23);
  --ifm-color-primary-darkest: rgb(174, 122, 19);
  --ifm-color-primary-light: rgb(235, 179, 69);
  --ifm-color-primary-lighter: rgb(236, 184, 81);
  --ifm-color-primary-lightest: rgb(240, 199, 119);

  --ifm-background-color: rgb(20, 20, 20) !important;
  --ifm-background-surface-color: var(--ifm-color-gray-900) !important;
  --ifm-font-color-base: var(--ifm-color-gray-400);
  --ifm-heading-color: var(--ifm-color-gray-100);
  --ifm-toc-link-color: var(--ifm-color-gray-550);
}

@media (min-width: 997px) {
  main {
    margin-left: 20px;
  }
}
/* 
article {
  background-image: url("/assets/logos/virtalis.svg");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
} */

table {
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 6px !important;
}

iframe {
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 340px;
  aspect-ratio: 16/9;
}

[data-theme='light'] .card {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-black);
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  transition: none;
  box-shadow: none;
}

[data-theme='light'] .card:hover {
  box-shadow: none;
}

[data-theme='dark'] .card {
  --ifm-link-color: var(--ifm-color-emphasis-600);
  --ifm-link-hover-color: var(--ifm-color-white);
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  transition: none;
  box-shadow: none;
}

[data-theme='dark'] .card:hover {
  box-shadow: none;
}

::selection {
  background-color: var(--virtalis-color-light-blue);
  color: var(--ifm-color-white);
}

::-moz-selection {
  background-color: var(--virtalis-color-light-blue);
  color: var(--ifm-color-white);
}

[data-theme='dark'] ::selection {
  background-color: var(--virtalis-color-blue);
  color: var(--ifm-color-white);
}

[data-theme='dark'] ::-moz-selection {
  background-color: var(--virtalis-color-blue);
  color: var(--ifm-color-white);
}
