:root {
  --virtalis-color-blue: rgb(20, 15, 120);
  --virtalis-color-blue-highlight: rgb(44, 33, 193);
  --virtalis-color-light-blue: rgb(40, 30, 180);
  --virtalis-color-lighter-blue: rgb(48, 36, 229);
  --virtalis-color-dark-blue: rgb(20, 15, 85);
  --virtalis-color-dark-blue-highlight: rgb(25, 18, 143);
  --virtalis-color-darker-blue: rgb(12, 8, 58);
  --virtalis-color-darkest-blue: rgb(7, 5, 33);
  --virtalis-color-orange: rgb(232, 169, 44);

  --ifm-color-primary: rgb(230, 114, 5);
  --ifm-color-primary-dark: rgb(207, 103, 5);
  --ifm-color-primary-darker: rgb(195, 97, 4);
  --ifm-color-primary-darkest: rgb(161, 80, 4);
  --ifm-color-primary-light: rgb(250, 126, 9);
  --ifm-color-primary-lighter: rgb(250, 132, 20);
  --ifm-color-primary-lightest: rgb(251, 150, 55);

  --ifm-color-gray-100: rgb(245, 245, 245);
  --ifm-color-gray-150: rgb(235, 235, 235);
  --ifm-color-gray-200: rgb(225, 225, 225);
  --ifm-color-gray-300: rgb(200, 200, 200);
  --ifm-color-gray-350: rgb(190, 190, 190);
  --ifm-color-gray-400: rgb(180, 180, 180);
  --ifm-color-gray-450: rgb(165, 165, 165);
  --ifm-color-gray-500: rgb(150, 150, 150);
  --ifm-color-gray-550: rgb(135, 135, 135);
  --ifm-color-gray-600: rgb(120, 120, 120);
  --ifm-color-gray-650: rgb(105, 105, 105);
  --ifm-color-gray-700: rgb(90, 90, 90);
  --ifm-color-gray-750: rgb(75, 75, 75);
  --ifm-color-gray-800: rgb(60, 60, 60);
  --ifm-color-gray-850: rgb(45, 45, 45);
  --ifm-color-gray-900: rgb(30, 30, 30);
  --ifm-color-gray-950: rgb(15, 15, 15);

  --ifm-toc-link-color: var(--ifm-color-gray-700);
  --ifm-toc-padding-vertical: 0rem;
  /* --ifm-toc-padding-horizontal: 1rem; */

  --ifm-tabs-color: var(--ifm-font-color-secondary);
  --ifm-tabs-color-active: var(--ifm-color-primary);
  --ifm-tabs-color-active-border: var(--ifm-tabs-color-active);
  --ifm-tabs-padding-horizontal: 1rem;
  --ifm-tabs-padding-vertical: 0.5rem;

  --ifm-code-background: rgba(255, 255, 255, 0.1);
  --ifm-scrollbar-track-background-color: #444444;
  --ifm-scrollbar-thumb-background-color: #686868;
  --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;

  /* --ifm-font-family-base: Roboto, system-ui, -apple-system, Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-monospace: Roboto Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */

  --ifm-table-cell-padding: 0.75rem;
  --ifm-table-background: transparent;
  --ifm-table-stripe-background: rgba(0, 0, 0, 0.03);
  --ifm-table-border-width: 1px;
  --ifm-table-border-color: var(--ifm-color-emphasis-300);
  --ifm-table-head-background: inherit;
  --ifm-table-head-color: inherit;
  --ifm-table-head-font-weight: var(--ifm-font-weight-bold);
  --ifm-table-cell-color: inherit;
  
  --ifm-background-color: var(--ifm-color-white);
  --ifm-color-primary-contrast-background: var(--ifm-color-gray-900);
  --ifm-font-color-base: var(--ifm-color-gray-800);
  --ifm-font-size-base: 17px;
  --ifm-line-height-base: 1.5rem;
  --ifm-heading-color: var(--ifm-color-black);
  --ifm-heading-font-weight: 500;
  --ifm-code-font-size: 90%;
  --ifm-transition-fast: 0s;
  --ifm-transition-slow: 0s;
  --ifm-transition-timing-default: 0s;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
  --ifm-color-primary: rgb(232, 169, 44);
  --ifm-color-primary-dark: rgb(224, 157, 24);
  --ifm-color-primary-darker: rgb(212, 148, 23);
  --ifm-color-primary-darkest: rgb(174, 122, 19);
  --ifm-color-primary-light: rgb(235, 179, 69);
  --ifm-color-primary-lighter: rgb(236, 184, 81);
  --ifm-color-primary-lightest: rgb(240, 199, 119);

  --ifm-background-color: rgb(20, 20, 20) !important;
  --ifm-background-surface-color: var(--ifm-color-gray-900) !important;
  --ifm-font-color-base: var(--ifm-color-gray-400);
  --ifm-heading-color: var(--ifm-color-gray-100);
  --ifm-toc-link-color: var(--ifm-color-gray-550);
}

@media (min-width: 997px) {
  main {
    margin-left: 20px;
  }
}
/* 
article {
  background-image: url("/assets/logos/virtalis.svg");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
} */

table {
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 6px !important;
}

/* iframe {
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 340px;
  aspect-ratio: 16/9;
} */

.video-container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* .video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
} */

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 65px;
  height: 46px;
  z-index: 1;
  opacity: 0.8;
  border: none;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22YouTube_Icon%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%20721%22%20enable-background%3D%22new%200%200%201024%20721%22%20xml%3Aspace%3D%22preserve%22%3E%3Cscript%20xmlns%3D%22%22%3E%0A%20%20%20%20try%20%7B%0A%20%20%20%20%20%20Object.defineProperty(navigator%2C%20%22globalPrivacyControl%22%2C%20%7B%0A%20%20%20%20%20%20%20%20value%3A%20false%2C%0A%20%20%20%20%20%20%20%20configurable%3A%20false%2C%0A%20%20%20%20%20%20%20%20writable%3A%20false%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%20%20%20%20document.currentScript.parentElement.removeChild(document.currentScript)%3B%0A%20%20%20%20%7D%20catch(e)%20%7B%7D%3B%0A%20%20%20%20%20%20%3C%2Fscript%3E%0A%3Cpath%20id%3D%22Triangle%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M407%2C493l276-143L407%2C206V493z%22%2F%3E%0A%3Cpath%20id%3D%22The_Sharpness%22%20opacity%3D%220.12%22%20fill%3D%22%23420000%22%20d%3D%22M407%2C206l242%2C161.6l34-17.6L407%2C206z%22%2F%3E%0A%3Cg%20id%3D%22Lozenge%22%3E%0A%09%3Cg%3E%0A%09%09%0A%09%09%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22512.5%22%20y1%3D%22719.7%22%20x2%3D%22512.5%22%20y2%3D%221.2%22%20gradientTransform%3D%22matrix(1%200%200%20-1%200%20721)%22%3E%0A%09%09%09%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3A%23E52D27%22%2F%3E%0A%09%09%09%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3A%23BF171D%22%2F%3E%0A%09%09%3C%2FlinearGradient%3E%0A%09%09%3Cpath%20fill%3D%22url(%23SVGID_1_)%22%20d%3D%22M1013%2C156.3c0%2C0-10-70.4-40.6-101.4C933.6%2C14.2%2C890%2C14%2C870.1%2C11.6C727.1%2C1.3%2C512.7%2C1.3%2C512.7%2C1.3%20%20%20%20h-0.4c0%2C0-214.4%2C0-357.4%2C10.3C135%2C14%2C91.4%2C14.2%2C52.6%2C54.9C22%2C85.9%2C12%2C156.3%2C12%2C156.3S1.8%2C238.9%2C1.8%2C321.6v77.5%20%20%20%20C1.8%2C481.8%2C12%2C564.4%2C12%2C564.4s10%2C70.4%2C40.6%2C101.4c38.9%2C40.7%2C89.9%2C39.4%2C112.6%2C43.7c81.7%2C7.8%2C347.3%2C10.3%2C347.3%2C10.3%20%20%20%20s214.6-0.3%2C357.6-10.7c20-2.4%2C63.5-2.6%2C102.3-43.3c30.6-31%2C40.6-101.4%2C40.6-101.4s10.2-82.7%2C10.2-165.3v-77.5%20%20%20%20C1023.2%2C238.9%2C1013%2C156.3%2C1013%2C156.3z%20M407%2C493V206l276%2C144L407%2C493z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}


[data-theme='light'] .card {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-black);
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  transition: none;
  box-shadow: none;
}

[data-theme='light'] .card:hover {
  box-shadow: none;
}

[data-theme='dark'] .card {
  --ifm-link-color: var(--ifm-color-emphasis-600);
  --ifm-link-hover-color: var(--ifm-color-white);
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  transition: none;
  box-shadow: none;
}

[data-theme='dark'] .card:hover {
  box-shadow: none;
}

::selection {
  background-color: var(--virtalis-color-light-blue);
  color: var(--ifm-color-white);
}

::-moz-selection {
  background-color: var(--virtalis-color-light-blue);
  color: var(--ifm-color-white);
}

[data-theme='dark'] ::selection {
  background-color: var(--virtalis-color-blue);
  color: var(--ifm-color-white);
}

[data-theme='dark'] ::-moz-selection {
  background-color: var(--virtalis-color-blue);
  color: var(--ifm-color-white);
}
