/* Light Mode */

[data-theme='light'] {
  --ifm-navbar-height: 3.5rem;
  --ifm-navbar-background-color: var(--virtalis-color-blue);
}
[data-theme='light'] .navbar__link {
  color: var(--ifm-color-white);
  font-size: 95%;
}
[data-theme='light'] .dropdown--active {
  color: var(--virtalis-color-orange);
}
[data-theme='light'] .navbar__link:hover {
  color: var(--virtalis-color-orange);
}
[data-theme='light'] .navbar__link--active {
  color: var(--virtalis-color-orange);
}
[data-theme='light'] .navbar-sidebar {
  background-color: var(--ifm-color-white);
}
[data-theme='light'] .navbar-sidebar__brand {
  background-color: var(--virtalis-color-blue);
}

/* Dark Mode */

[data-theme='dark'] {
  --ifm-navbar-height: 3.5rem;
  --ifm-navbar-background-color: var(--virtalis-color-dark-blue);
}
[data-theme='dark'] .navbar__link {
  color: var(--virtalis-color-off-white);
  font-size: 95%;
}
[data-theme='dark'] .dropdown--active {
  color: var(--ifm-color-primary);
}
[data-theme='dark'] .navbar__link:hover {
  color: var(--ifm-color-primary);
}
[data-theme='dark'] .navbar__link--active {
  color: var(--ifm-color-primary);
}
[data-theme='dark'] .navbar-sidebar {
  background-color: var(--ifm-color-gray-900);
}
[data-theme='dark'] .navbar-sidebar__brand {
  background-color: var(--virtalis-color-dark-blue);
}
