:root {
  --ifm-menu-color: var(--ifm-color-gray-700);
  --ifm-menu-link-padding-vertical: 0.3rem;
}

[data-theme='dark'] {
  --ifm-menu-color: var(--ifm-color-gray-300);
}

.theme-doc-sidebar-menu {
  font-size: 95%;
}

.menu__caret:before, .menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.7rem 1.7rem;
  size: 55%;
}
